<!DOCTYPE html>
<html>
  <head>
    <title>Stuyvote</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <h1>Stuyvote</h1>

      <% if notice %>
        <div class="alert alert-success" id="notice">
          <%= notice %>
        </div>
        <script type="text/javascript">setTimeout(function(){ $("#notice").fadeOut() }, 5000);</script>
      <% end %>
      <% if alert %>
        <div class="alert alert-error" id="alert">
          <%= alert %>
        </div>
        <script type="text/javascript">setTimeout(function(){ $("#alert").fadeOut() }, 5000);</script>
      <% end %>

      <%= yield %>

      <% if admin_signed_in? and not (request.fullpath == '/' or request.fullpath.include? '/choose')  %>
        <%= link_to 'Sign out', :destroy_admin_session, :method => :delete %>
      <% end %>
    </div>
  </body>
</html>
