<!DOCTYPE html>
<html>
  <head>
    <% if request.fullpath == '/' or request.fullpath == '/choose' %>
      <title>Stuyvote</title>
    <% else %>
      <title>Stuyvote BoE Panel</title>
    <% end %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <% if request.fullpath == '/' or request.fullpath == '/choose' %>
        <h1>Stuyvote</h1>
      <% else %>
        <h1>Stuyvote BoE Panel</h1>
      <% end %>

      <% unless request.fullpath == '/' or request.fullpath == '/choose' %>
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li<% if request.fullpath.include? '/elections' %> class="active"<% end %>><%= link_to "Elections", :elections %></li>
                <li<% if request.fullpath.include? '/students' %> class="active"<% end %>><%= link_to "Students", :students %></li>
              </ul>
              <% if admin_signed_in? and not (request.fullpath == '/' or request.fullpath.include? '/choose')  %>
                <ul class="nav pull-right">
                  <li><%= link_to 'Sign out', :destroy_admin_session, :method => :delete %></li>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% if notice %>
        <div class="alert alert-success" id="notice">
          <%= notice %>
        </div>
        <script type="text/javascript">setTimeout(function(){ $("#notice").fadeOut() }, 5000);</script>
      <% end %>
      <% if alert %>
        <div class="alert alert-error" id="alert">
          <%= alert %>
        </div>
        <script type="text/javascript">setTimeout(function(){ $("#alert").fadeOut() }, 5000);</script>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
